server:
  port: 8000
  servlet:
    context-path: /api

spring:
  http:
    converters:
      preferred-json-mapper: gson
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/templatedb}
    username: ${DB_USER:mysql}
    password: ${DB_PASSWORD:mysql}
  jpa:
    hibernate:
      ddl-auto: update
    properties.hibernate:
      jdbc.lob.non_contextual_creation: true
      dialect: org.hibernate.dialect.MySQL5Dialect
    open-in-view: false

swagger:
  enable: ${ENABLE_SWAGGER:true}
  package: com.springboot.template.controller
springfox:
  documentation:
    swagger:
      v2:
        path: /swagger

security:
  jwt:
    secret: ${SECURITY_SECRET:V4CYY1ZzMH6g6tT2GqOtYABiieKuoHci}
    exp: 180

logging:
  level:
    root: ERROR
    org.springframework: WARN
    org.hibernate: WARN
    com.springboot: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %-40logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} %-5level %-40logger{36} - %msg%n"